@import '../../../assets/colors.scss';
:host{
	display: block;
	background-color: $primary-darker;
	height: 60px;
	position: relative;
	border-bottom: 2px solid $primary-darkest;

	i{
		position: absolute;
		right: 8px;
		top: 13px;
		font-size: 22px;
		padding: 6px;
		cursor: pointer;
		transition: color .2s;
		color: white;

		&:hover{
			color: $secondary;
		}
	}
}