@import '../../../assets/colors.scss';
:host{
	display: flex;
	align-items: center;
	background-color: $primary-darker;
	height: 60px;
	position: relative;
	border-bottom: 2px solid $primary-darkest;
	color: white;
	transition: color .2s;
	cursor: pointer;

	&:hover{
		color: $secondary;
	}

	i{
		position: absolute;
		right: 8px;
		top: 13px;
		font-size: 22px;
		padding: 6px;
		cursor: pointer;
	}

	.text{
		margin-left: 16px;
	}
}