:host{
	display: block;
	position: relative;
	margin-top: 72px;

	.wrapper{
		background-color: green;
		margin-left: 0px;
		transition: margin-left .2s;

		&.open{
			margin-left: 0px;
		}
	}

	// Small devices (landscape phones, 576px and up)
	@media (min-width: 576px) {
		.wrapper{
			margin-left: 50px;
			&.open{
				margin-left: 250px;
			}
		}
	}
}


