@import '../../../assets/colors.scss';
:host{
	display: block;
	position: relative;
	height: 80px;
	background-color: white;
	border-radius: 3px;
	box-shadow: 2px 2px 3px $grey-light;
	padding-left: 0px;
	padding-right: 0px;
	margin: 8px;

	.header{
		background-color: $primary-darker;
		height: 50px;
		border-radius: 3px 3px 0px 0px;
		color: white;
		display: flex;
		align-items: center;
		.text{
			margin-left: 16px;
			align-self: center;
			font-size: 18px;
		}
	}
}