@import '../../../assets/colors.scss';
:host{
	$closedWidth: 50px;
	$width: 250px;
	$topHeight: 60px;
	$bottomHeight: calc(100% - #{$topHeight});

	i{
		position: absolute;
		right: 11px;
		top: 13px;
		font-size: 22px;
		padding: 6px;
		cursor: pointer;
		transition: color .2s;
	}

	.top, .bottom{
		position: fixed;
		top: 0px;
		left: 0px;
		width: $width;
		margin-left: 0px;
		transition: margin-left .2s;
		border-right: 1px solid grey;

		i{
			color: $grey-light;
			&:hover{
				color: $primary;
			}
		}
	}

	.top{
		height: $topHeight;
		background-color: white;
	}
	.bottom{
		margin-top: $topHeight;
		height: $bottomHeight;
		background-color: $primary-darkest;
	}

	.closed{
		&.top{
			margin-left: calc(-#{$width} + #{$closedWidth});
		}
		&.bottom{
			margin-left: calc(-#{$width});
		}
	}
}