<div class="top" [ngClass]="{'closed': !(state | async)?.isOpen}">
	top
	<i *ngIf="!(state | async)?.isOpen" class="far fa-bars" (click)="open()"></i>
	<i *ngIf="(state | async)?.isOpen" class="fal fa-times" (click)="close()"></i>
</div>


<div class="bottom" [ngClass]="{'closed': !(state | async)?.isOpen}">
	<th-side-bar-item *ngFor="let route of (state | async)?.routes" [routerLink]="'/'+route.path" [label]="route.data.sideBarLabel" [iconClass]="route.data.sideBarIconClass" [isSideBarOpen]="(state | async)?.isOpen"></th-side-bar-item>
</div>