<section class="container">
	<h3>Professional Projects</h3>
	<hr/>
	<th-panel-container class="row justify-content-start">
		<th-image-panel class="col-md-6" src="/assets/mps.jpeg"></th-image-panel>
		<th-image-panel class="col-md-6"></th-image-panel>
		<th-image-panel class="col-md-6"></th-image-panel>
	</th-panel-container>

	<h3>Personal Projects</h3>
	<hr/>
	<th-panel-container class="row justify-content-start">
		<th-image-panel class="col-md-6" src="/assets/mps.jpeg"></th-image-panel>
		<th-image-panel class="col-md-6"></th-image-panel>
		<th-image-panel class="col-md-6"></th-image-panel>
	</th-panel-container>
</section>
