<div class="container-fluid">
	<th-panel-container class="row">
		<th-panel class="col" headerText="Code Samples Information">
			<p>Below you will see a list of small code samples I've created. Feel free to poke your way around.</p>
		</th-panel>
	</th-panel-container>

	<div class="row codeArea">
		<div class="col-4 options">
			<div>code sample 1</div>
			<div>code sample 2</div>
			<div>code sample 3</div>
			<div>code sample 4</div>
			<div>code sample 5</div>
		</div>
		<div class="col code">

		</div>
	</div>
</div>
