$blue-light: #1700FF;
$blue: #1500E5;
$blue-dark: #1200BF;
$blue-darker: #0C007F;
$blue-darkest: #060040;

$grey-lighter: #999999;
$grey-light: #777777;
$grey: #555555;
$grey-dark: #333333;
$grey-darker: #111111;


$primary-lightest: #4d9eff;
$primary-lighter: #3390ff;
$primary-light: #1a82ff;
$primary: #0074FF;
$primary-dark: #0051b3;
$primary-darker: #00387d;
$primary-darkest: #002e67;

$secondary-lightest: #ffae4d;
$secondary-lighter: #ffa233;
$secondary-light: #ff971a;
$secondary: #ff8b00;
$secondary-dark: #e67d00;
$secondary-darker: #cc6f00;
$secondary-darkest: #b36100;